body {
    background-color: #212121;
}

.currencies-container, .transactions-container {
    display: flex;
    flex-wrap: wrap;
}

.currencies-container .currency-tile, .transactions-container .transaction-tile {
    text-align: center;
    background-color: #DCEDC8;
    margin: 1em;
    width: calc(20% - 8em/5);
    border-radius: 0.2em;
}

.transactions-container .transaction-tile {
    background-color: #9CCC65;
}

.currencies-container .currency-tile:nth-child(5n + 1), .transactions-container .transaction-tile:nth-child(5n + 1) {
    margin-left: 0;
}

.currencies-container .currency-tile:nth-child(5n), .transactions-container .transaction-tile:nth-child(5n)  {
    margin-right: 0;
}

.currencies-container .currency-tile .currency-wrapper, .transactions-container .transaction-tile .transaction-wrapper {
    text-align: left;
}

.currencies-container .currency-tile .currency-wrapper .name-wrapper, .transactions-container .transaction-tile .transaction-wrapper .name-wrapper {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

#add-currency-modal #currency-select {

}

#add-currency-modal #add-currency-submit button {
    width: 100%;
}

#add-currency-modal #add-currency-submit {
    display: flex;
    align-items: flex-end;
}



#add-currency-modal select {

}

#add-currency-modal .modal-content {
    display: flex;
    padding: 2em;
}

#add-currency-modal .modal-content section {
    width: 25%;
}

#add-currency-modal .section-description {
    font-weight: bold;
    font-size: 115%;
    margin: 0.5em;
}