body {
    background-color: #212121;
}

.currencies-container, .transactions-container {
    display: flex;
    flex-wrap: wrap;
}

.transactions-container {
    cursor: pointer;
}

.currencies-container .currency-tile, .transactions-container .transaction-tile {
    text-align: center;
    background-color: #DCEDC8;
    margin: 1em;
    width: calc(20% - 8em/5);
    border-radius: 0.2em;
}

.transactions-container .transaction-tile {
    background-color: #9CCC65;
}

.currencies-container .currency-tile:nth-child(5n + 1), .transactions-container .transaction-tile:nth-child(5n + 1) {
    margin-left: 0;
}

.currencies-container .currency-tile:nth-child(5n), .transactions-container .transaction-tile:nth-child(5n)  {
    margin-right: 0;
}

.currencies-container .currency-tile .currency-wrapper, .transactions-container .transaction-tile .transaction-wrapper {
    text-align: left;
}

.currencies-container .currency-tile .currency-wrapper .name-wrapper, .transactions-container .transaction-tile .transaction-wrapper .name-wrapper {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

.currency-modal-class #currency-select {

}

.currency-modal-class #add-currency-submit button {
    width: 100%;
}

.currency-modal-class #add-currency-submit {
    display: flex;
    align-items: flex-end;
}



.currency-modal-class select {

}

.currency-modal-class .modal-content {
    display: flex;
    padding: 2em;
}

.currency-modal-class .modal-content section {
    width: 25%;
}

.currency-modal-class .section-description {
    font-weight: bold;
    font-size: 115%;
    margin: 0.5em;
}

#spinner-buy {
    width: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
}

.buy-currency span.hiddenspan {
    visibility: hidden;
}

.transaction-tile-modal {
    width: 30%;
    background-color: #212121;
    margin: 0.7em;
    color: white;
}

.transaction-tile-modal-wrapper {
    display: flex;
    flex-wrap: wrap;
}