<div>
    <div class="control-panel" style="padding: 2em 0em">
        <button ng-click="transactionMode='buy'" data-toggle="modal" data-target="#currency-transaction-modal" class="btn-primary btn">Kupiłem walutę</button>
        <button ng-click="transactionMode='sell'" data-toggle="modal" data-target="#currency-transaction-modal" class="btn-primary btn">Sprzedaję walutę</button>
    </div>
    <div class="modal fade" id="currency-transaction-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <section id="currency-select">
                    <div class="section-description">Waluta</div>
                    <select class="form-control" ng-options="option.Currency.name for option in currencies"
                            ng-model="selectedCurrency" ng-change="selectedCurrencyUpdate()"></select>
                </section>
                <section id="amount-select">
                    <div class="section-description">Ilość</div>
                    <input ng-change="selectedCurrencyAmountChange()" ng-model="selectedCurrencyAmount" type="number" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </section>
                <section id="course-select">
                    <div class="section-description">Kurs</div>
                    <input ng-model="selectedCurrencyCourse" type="number" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </section>
                <section id="add-currency-submit">
                    <button ng-if="transactionMode=='buy'" data-toggle="modal" data-target="#currency-transaction-modal" ng-click="addCurrencyTransaction(selectedCurrency.Currency.name, selectedCurrencyAmount, selectedCurrencyCourse)" class="btn-primary btn">Dodaj</button>
                    <button ng-if="transactionMode=='sell'" data-toggle="modal" data-target="#currency-transaction-modal" ng-click="sellCurrency(selectedCurrency.Currency.name, selectedCurrencyAmount, selectedCurrencyCourse)" class="btn-primary btn">Sprzedaj</button>
                </section>
            </div>
        </div>
    </div>
    <h3 style="color: #DCEDC8; text-align: center">Lista transakcji</h3>
    <div class="transaction-tile" style="width: 100%; background-color: {{transactionsSumProfit < 0 ? '#D32F2F' : '#689F38'}}; text-align: center; font-weight: 120%"><span>Suma {{transactionsSumProfit <=0 ? 'strat' : 'zysków'}}</span></br><span style="font-weight: bold;">{{transactionsSumProfit}} zł</span></div>
    <div class="transactions-container">
        <div class="transaction-tile" style="background-color: {{transaction.profit < 0 ? '#E53935' : ''}}" ng-repeat="transaction in transactions">
            <div class="transaction-wrapper">
                <div class="col-sm-12 name-wrapper">
                    <span>{{ transaction.currency }}</span>
                </div>
                <div class="col-sm-6">
                    Ilość </br>
                    {{ transaction.amount }}
                </div>
                <div class="col-sm-6">
                    Kurs kupna </br>
                    {{ transaction.rate }}
                </div>
                <div class="col-sm-12" style="text-align: center">
                    <span style="font-weight: bold">{{ transaction.profit < 0 ? 'Straciłeś' : 'Zyskałeś' }}</span></br>
                    {{ transaction.profit }} zł
                </div>
            </div>
        </div>
    </div>
    <h3 style="color: #DCEDC8; text-align: center">Aktualne kursy</h3>
    <div class="currencies-container">
        <div class="currency-tile" ng-repeat="currency in currencies | limitTo:currencyTileAmout">
            <div class="currency-wrapper">
                <div class="col-sm-12 name-wrapper">
                    <span>{{ currency.Currency.name }}</span>
                </div>
                <div class="col-sm-6">
                    Kupno </br>
                    {{ currency.Currency.ratesA['1'] }}
                </div>
                <div class="col-sm-6">
                    Sprzedasz </br>
                    {{ currency.Currency.ratesA['2'] }}
                </div>
            </div>
        </div>
    </div>
    <div class="show-more-container">
        <button ng-click="showMoreCurrencies()" class="btn-primary btn center-block">Pokaż więcej</button>
    </div>
</div>